<!DOCTYPE html>

<html>

<head>
    <title>Y86模拟器</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    {% load static %}
 <!--   <script src="{% static 'IDE/js/Load.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'IDE/style.css' %}">
        <script src="{% static 'IDE/js/Load.js' %}"></script>
    <script type="text/javascript">
    /*
	var yo;
	$(document).ready(function(){
 		$("#btn_input").click(function(){
			$("#number_div").css("border-right-color","green");
  			var content=$("#input_code").val();                
  			$.post("/IDE/",{'type':'code', 'content':content},     
    			function(data,status){              
         			$("#yo_Code").html(data.Code);
					yo=$("#yo_Code").html();
					$("#error").html(data.error);
         			$("#Codes").html(data.Codes);
         			$("#tab_content1").html(data.Stat);
         			$("#Stage").html(data.Stage);
         			$("#columns").html(data.Display);
         			$("#Stack").html(data.Stack);
         			$("#tab_content3").html(data.Register);
         			$("#cmd_output").html("");
					
					if(data.error.match("Fail")=="Fail"){
						$(".error_info").css("bottom","0px");
						$("#error_arrow").css("transform","rotate(180deg)");
					}
					else{
						$(".error_info").css("bottom","-260px");
						$("#error_arrow").css("transform","rotate(0deg)");
					}
  				});
		});
	});
	$(document).ready(function(){
 		$("#cmd_input").on("keyup",function(e){
 			var eCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
 			if (eCode==13){
  			var content=$("#cmd").val();                
  			$.post("/IDE/",{'type':'command', 'content':content},     
    			function(data,status){              
         			$("#yo_Code").html(data.Code);
         			$("#Codes").html(data.Codes);
         			$("#tab_content1").html(data.Stat);
         			$("#Stage").html(data.Stage);
         			$("#columns").html(data.Display);
         			$("#Stack").html(data.Stack);
         			$("#tab_content3").html(data.Register);
         			$("#cmd_output").append(data.CMD);
					
					$("#cmd_output").scrollTop(9999);
					var ls=data.Codes.split('\n');
					var i=0;
					for(i=0;i!=ls.length;i++)
						if(ls[i][1]=='m')
							break;
					if(i>8&&i<ls.length)
						$(".code").scrollTop((i-8)*20);
					else
						$(".code").scrollTop(0);
  				});
  			$("#cmd").val("");
  			}
		});
	});
	
	$(document).on("dblclick", ".error_line",function(){
			var line=this.innerHTML;
			var id1=line.indexOf("line");
			var id2=line.indexOf("</td>");
			var i=parseInt(line.substring(id1+5,id2));
			var s=yo.split('\n');
			s[i-1]="<mark>"+s[i-1]+"</mark>";
			$("#yo_Code").html(s.join('\n'));
			if(i>8&&i<s.length)
				$("#yo").scrollTop((i-8)*20);
			else
				$("#yo").scrollTop(0);
	});
	$(document).ready(function(){
	$("#input_code").focus(function(){
	  $("#input_code").keyup(function(){
		  $("#number_div").css("border-right-color","yellow");
		  var lines=$("#input_code").val();
		  var array=lines.split("\n");
		  var s="";
		  for(var i=1;i!=array.length+1;i++){
			s=s+i.toString()+"<br>";
		  }
		  document.getElementById("number").innerHTML=s;
			});
		});
	});
	$(document).ready(function(){
		$("#input_code").scroll(function(){
			var h=$("#input_code").scrollTop();
			$("#number_div").css("top","-"+h.toString()+"px");
			//alert(h.toString()+' '+hei.toString());
		});
	});*/
	</script>
</head>
<body>
	<div style="display:inline-block;position:fixed;top:30px;left:12px;">
	<div id="sb_w"  class="swborder">
	<img src="{% static 'IDE/write_hover.png' %}" class="switch_button" onclick="write_()">
	</div>
	<br>
	<div id="sb_d"  class="swborder">
	<img src="{% static 'IDE/debug_chosen.png' %}" class="switch_button"  onclick="debug()">
	</div>
	</div>
	<div id="cmd_input" class="cmd_input">
			<form role="form" style="display:inline-block;width:100%;height:100%;margin:0px;position:relative;top:-2px;">
				<textarea class="form-control" rows="1" style="border:none;height:120%;width:110%;" id="cmd"></textarea>
			</form>
	</div>
	
	<div class="title" style="max-width:1335px;z-index:-1;position:absolute;left:350px;top:250px;">
            <div style="width:900px;">
                <font style="font-family:myFont;font-size:40pt;"><span style="color:rgb(147,112,219);">Y86</span> Simulator</font>
            </div>
    </div>
	
	<div class="container-fluid" style="margin:15px;float:top;position:relative;" id="write">
		<div class="input_ys_contain">
			<div id="number_div" style="display:inline-block;position:relative;float:left;top:4px;width:26px;boder:none;border-right:solid 2px yellow;padding-right:2px;padding-bottom:0px;">
				<p id="number" style="text-align:right;">
				</p>
			</div>
			<div class="input_ys">
			<form style="display:inline-block;width:100%;height:100%;margin:0px;position:relative;top:-2px;">
				<textarea id="input_code" class="form-control" style="border:none;height:101%;"></textarea>
			</form>
			</div>
		</div>
		<img src="{% static 'IDE/trans.png' %}" id="btn_input">
		<div class="input_yo">
		<div style="width:100%;height:100%;overflow:auto;" id="yo">
			<pre id="yo_Code">yo_code</pre>
		</div>
		<div class="error_info">
				<table>
					<tbody id="error">
						<tr><th style="color:blue;"><div id="error_state" onclick="fold()">Error Info</div></th>
							<img src="{% static 'IDE/arrowup.png' %}" id="error_arrow">
						</tr>
					</tbody>
				</table>
		</div>
		</div>
	</div>
	
	<div id="debug">
    <div class="container-fluid" style="margin:20px;">	
	<div class="main_body" id="main_body" style="float:top;">		
        <div class="code" style="display:block;">
            <table>
                <tr>
                    <td id="Codes" style="border:none;">
					</td>
                </tr>
            </table>
        </div>

        <ul class="tabs">
            <li>
                <input type="radio" name="tabs" id="tab1" checked />
                <label for="tab1">Stat</label>
                <div class="tab_content" id="tab_content1">
                </div>
            </li>
			<li>
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2">Stack</label>
                <div class="tab_content" id="tab_content2">
					<table class="stack">
					<tbody id="Stack">
					</tbody>
					</table>
                </div>
            </li>
            <li>
                <input type="radio" name="tabs" id="tab3" />
                <label for="tab3">Register</label>
                <div class="tab_content" id="tab_content3">
                </div>
            </li>
			
        </ul>
		
		<div class="container" style="border: none;float:left;width:20%;height:330px;margin:0px;margin-top:20px;padding:0px;overflow-x:hidden;overflow-y:auto;background-color:#FFFFFF;">
            <p style="color:rgb(147,112,219);font-size:20px;font-family:myFont;font-weight:bold;margin:10px;">Display</p>
            <table id="columns">
			</table>
        </div>

        <div class="stages">
			<table id="Stage" style="border:none;">
			</table>
        </div>
		
		<div class="cmd" id="cmd_output">
		</div>
		
		</div>
    </div>
	</div>
</body>

<script>
		function fold(){
			var b=$(".error_info").css("bottom");
			if(b=="0px"){
				$(".error_info").css("bottom","-260px");
				$("#error_arrow").css("transform","rotate(0deg)");
			}
			else if(b=="-260px"){
				$(".error_info").css("bottom","0px");
				$("#error_arrow").css("transform","rotate(180deg)");
			}			
		}
		function write_(){
			document.getElementById("write").style="display:block;opacity:1;animation:none;margin:15px;float:top;position:relative;";
			document.getElementById("debug").style="display:none";
			document.getElementById("sb_w").src="{% static 'IDE/write_chosen.png' %}";
			document.getElementById("sb_d").src="{% static 'IDE/debug_hover.png' %}";
		}
		function debug(){
			document.getElementById("write").style="display:none";
			document.getElementById("debug").style="display:block";
			document.getElementById("sb_w").src="{% static 'IDE/write_hover.png' %}";
			document.getElementById("sb_d").src="{% static 'IDE/debug_chosen.png' %}";
		}
        var columns = document.querySelectorAll('#columns .column');
        var dragEl = null;
        [].forEach.call(columns,function(column){
             column.addEventListener("dragstart",domdrugstart,false);
             column.addEventListener('dragenter', domdrugenter, false);
             column.addEventListener('dragover', domdrugover, false);
             column.addEventListener('dragleave', domdrugleave, false);
            column.addEventListener('drop', domdrop, false);
            column.addEventListener('dragend', domdrapend, false);
        });
        function domdrugstart(e) {
            e.target.style.opacity = '0.5';
            dragEl = this;
            e.dataTransfer.effectAllowed = "move";
            e.dataTransfer.setData("text/html", this.innerHTML);
        }
        function domdrugenter(e) {
            e.target.classList.add('over');
        }
        function domdrugover(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }
            e.dataTransfer.dropEffect = 'move';
            return false;
         }
       function domdrugleave(e) {
            e.target.classList.remove('over');
         }
        function domdrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
             }
            if (dragEl != this) {
                dragEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
             }
            return false;
         }
        function domdrapend(e) {
            [].forEach.call(columns, function (column) {
             column.classList.remove('over');
             column.style.opacity = '1';
             });
         }
</script>

</html>
