		body {
            padding-bottom: 5px;
            background-color: rgb(230,230,250);
            max-width: 1335px;
        }
		
        * {
            list-style: none;
        }		

        font {
            padding: 25px 50px;
        }

        @font-face {
            font-family: myFont;
            src: url(HappyKiller.ttf);
            font-weight: bold;
        }
		
		@keyframes disapp
		{
			from {opacity:1;}
			to {opacity:0;}
		}
		
		@-webkit-keyframes disapp
		{
			from {opacity:1;}
			to {opacity:0;}
		}
		
		@keyframes show
		{
			from {opacity:0;}
			to {opacity:1;}
		}
		
		@-webkit-keyframes show
		{
			from {opacity:0;}
			to {opacity:1;}
		}
		
		@keyframes drop
		{
			from {top:-40px;}
			to {top:0px;}
		}
		
		@-webkit-keyframes drop
		{
			from {top:-40px;}
			to {top:0px;}
		}
		
		@keyframes slide{
			from:{left:-80px;}
			to{left:0px;}
		}
		
		@-webkit-keyframes slide{
			from:{left:-80px;}
			to{left:0px;}
		}
		
		#write{
			display:block;
		}
		
		#debug{
			display:none;
		}
		
		.switch_button{
			display:block;
			position:absolute;
			left:-3px;
			top:-3px;
			width:35px;
			height:35px;
            border: none;
			margin:10px;
		}
		
		.swborder{
			position:relative;
			width:50px;
			height:50px;
			background:rgb(255,250,250);
			border:none;
			border-radius:50%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: all 0.2s ease-in-out;
		}
			.swborder:hover{
				box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35),0 6px 24px 0 rgba(0, 0, 0, 0.19);
			}
			
			#sb_w{
				left:-80px;
				animation:slide 0.4s;
				-webkit-animation:slide 0.3s;
				animation-fill-mode:forwards;
				animation-delay:2s;
			}
			
			#sb_d{
				left:-80px;
				animation:slide 0.4s;
				-webkit-animation:slide 0.3s;
				animation-fill-mode:forwards;
				animation-delay:2.1s;
			}
			
		.input_ys_contain{
			position:relative;
			display:inline-block;			
			background-color: #FFFFFF;
			float:left;
			margin:15px;
			top:20px;
			left:40px;
			margin-left:28px;
			width:42%;
			height:580px;
			overflow:hidden;
		}
		
		.input_ys{
			position:relative;
			display:inline-block;
			float:left;
			width:90%;
			height:580px;
			overflow:hidden;
		}
		
		.input_yo{
			position:relative;
			display:inline-block;
			float:left;
			margin:15px;
			margin-left:30px;
			top:20px;
			left:40px;
			padding:15px;
			width:50%;
			height:580px;
			overflow:hidden;
			background-color: #FFFFFF;
			border:none;
		}
		
		.error_info{
			position:absolute;
			border:3px solid rgb(147,112,219);
			background-color:white;
			padding:0px;
			z-index:1;
			width:96%;
			height:300px;
			bottom:-260px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition:all 0.5s ease-in-out;
		}
			.error_info th{
				padding:5px;
				font-size:20px;
			}
			
			.error_line:hover{
				cursor:pointer;
			}
			
			#error_state{
				position:relative;
			}
			#error_state:hover{
				cursor:pointer;
			}
			
			#error_arrow{
				display:inline-block;
				z-index:2;
				position:absolute;
				top:12px;
				left:90px;
				margin-left:10px;
				width: 15px;
				height: 15px;
				transition:all 0.2s ease-in-out;
			}
		
		#btn_input{
			display:inline-block;
			position:absolute;
			width:35px;
			height:35px;
			top:300px;
			left:636px;
			transition: all 0.2s ease-in-out;
		}
		
			#btn_input:hover{
				top:298.5px;
				left:634.5px;
				width:38px;
				height:38px;
			}
			
		.title{
			animation: disapp 0.5s;
			-webkit-animation:disapp 0.5s;
			animation-fill-mode:forwards;
			animation-delay:1.5s;
		}
		
		#write{
			opacity:0;
			animation:show 0.3s;
			-webkit-animation:show 0.3s;
			animation-fill-mode:forwards;
			animation-delay:2s;
		}

        .column {
            cursor: move;
        }

            .column.over {
                border: 3px dashed #000;
            }

        td:hover {
            background-color: rgba(147,112,219,0.4);
        }
		
		.cmd_input{
			position:fixed;
			left:520px;
			width:300px;
			height:30px;
			border:none;
			background:#FFFFFF;
			border-radius:0px 0px 10px 10px;
			overflow:hidden;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			
			top:-40px;
			animation:drop 0.3s;
			-webkit-animation:drop 0.3s;
			animation-fill-mode:forwards;
			animation-delay:2s;
		}

        .button {
            display: inline-block;
            position: relative;
            background-color: rgba(255, 255, 255,0);
            border: none;
            font-size: 20px;
            color: black;
            padding-top: 6px;
            padding-bottom: 10px;
            width: 60px;
            text-align: left;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
            line-height: 19px;
        }

            .button:hover {
                background-color: rgba(147,112,219,0.4);
            }

        .code {
            display: inline-block;
            position: relative;
            top: 20px;
            background-color:#FFFFFF;
            float: left;
            height: 330px;
            width: 53%;
            border: none;
            padding: 0px;
            margin: 0px;
			margin-left:48px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .stages {
            display: inline-block;
            background-color:#FFFFFF;
            float: left;
            width: 53%;
            height: 240px;
            border: none;
            padding: 10px;
			padding-top:7px;
			padding-bottom:13px;
            margin: 0px;
            margin-top: 3px;
			margin-left:48px;
            overflow-y:auto;
			overflow-x:hidden;
        }
		
		#Fetch{			
			transition:all 0.2s ease-in-out;
		}
		#Decode{
			transition:all 0.2s ease-in-out;
		}
		#Execute{
			transition:all 0.2s ease-in-out;
		}
		#Memory{
			transition:all 0.2s ease-in-out;
		}
		#Write{
			transition:all 0.2s ease-in-out;
		}
		
            .stages td {
                border: none;
                height: 35px;
            }
			.stages td:hover{
				background-color:rgba(255, 255, 255,0);
			}
        table {
            width: 100%;
            background-color:#FFFFFF;
            border: none;
            margin: 0px;
        }

        td {
            padding: 3px 0px 2px 10px;
            height: 30px;
            border: 1px solid rgb(221,160,221);
        }

        .code td:hover {
            background-color:#FFFFFF;
        }

        .stack {
            width: 100%;
            font-size: 15px;
            padding: 0px;
        }

            .stack tr td:last-child {
                border-left: none;
            }

        .pointer:before {
            content: url(arrow.png);
        }

        .tabs {
            position: relative;
            float: left;
            background-color:#FFFFFF;
            width: 20%;
            height: 330px;
            margin: 15px;
			margin-top:20px;
            padding: 0px;
            overflow-x: hidden;
            overflow-y: auto;
        }

            .tabs li {
                float: left;
            }

            .tabs input[type=radio] {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            .tabs label {
                display: block;
                border: none;
                padding: 10px;
                text-align: center;
                background:#FFFFFF;
                position: relative;
                top: 0px;
                z-index: 3;
                transition: all 0.2s ease-in-out;
                font-weight: bold;
            }

                .tabs label:hover {
                    color: rgb(221,160,221);
                    border-bottom: 2px solid rgb(221,160,221);
                }

            .tabs .tab_content {
                width: 100%;
                background-color:#FFFFFF;
                height: 305px;
                position: absolute;
                top: 43px;
                left: 0px;
                z-index: 2;
                border: none;
                padding: 0px;
                padding-top: 7px;
                margin: 0px;
                display: none;
            }

            .tabs input[type=radio]:checked + label {
                color: rgb(147,112,219);
                border-bottom: 2px solid rgb(147,112,219);
            }

            .tabs input[type=radio]:checked ~ div[id^=tab_content] {
                display: block;
            }
			
			.valid{
			color:black;
		}
		
		.invalid{
			color:gray;
		}
			.invalid td:hover{
				background-color:white;
			}
		
		#Cache th{
			color:rgb(221,160,221);
			padding:5px;
		}
		
		#Cache .button{
			color:white;
			font-size:18px;
			background-color:rgb(221,160,221);
			margin:5px;
			border-radius:3px;
			text-align:center;
		}
		
		.hm{
			color:black;
			font-size:20px;
			font-weight:bold;
			display:inline;
		}

		
		.cmd{
            position: relative;
			border:3px solid rgb(147,112,219);
            float: left;
            background-color:white;
            width: 41%;
            height: 240px;
            margin: 15px;
			margin-top:3px;
			padding:10px;
			overflow-x:auto;
            overflow-y:auto;
        }
			.cmd td{
				border:1px solid rgb(211,211,211);
				border-right:none;
				border-left:none;
				font-weight:bold;
			}
			.cmd .info{
				background-color:rgb(224,255,255);
			}
			.cmd .info:hover{
				background-color:rgb(224,255,255);
			}
			.cmd .info:before{
				content: url(info.png);
				position:relative;
				left:-3px;
				top:2px;
			}
			
			.cmd .ins{
				background-color:white;
			}
			.cmd .ins:hover{
				background-color:white;
			}
			.cmd .ins:before{
				content: url(ins.png);
				position:relative;
				left:-3px;
				top:2px;
			}
			
			.cmd .error{
				background-color:rgb(255,228,225);
			}
			.cmd .error:hover{
				background-color:rgb(255,228,225);
			}
			.cmd .error:before{
				content: url(error.png);
				position:relative;
				left:-3px;
				top:2px;
			}
			
        mark {
            background-color: rgba(147,112,219,0.3);
            font-weight: bold;
        }
		
		.mytooltip {
			position: relative;
			display: inline-block;
		}

		.mytooltip .mytooltip_text {
			visibility: hidden;
			width: 60px;
			background-color: rgb(147,112,219);
			color: white;
			text-align: center;
			border-radius: 6px;
			padding: 1px 0px 2px 0px;
			position: absolute;
			left:-10px;
			top:25px;
			z-index: 1;
		}

		.mytooltip:hover .mytooltip_text {
			visibility: visible;
		}